
* {
    box-sizing: border-box;
    margin: 0;
}

.botton {
    margin: 30% 45%;
}

.click {
    background-color: #2196F3;
    color: white;
    font-size: 50px;
    padding: 5px 60px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 200px;
    cursor: pointer;
}

.click:hover {
    background-color: #000;
    transition: 0.6s 0.1s ease;
}